include genhtml.py
recursive-include footers *.py
recursive-include headers *.py
include README.mkd
include requirements.txt
exclude Makefile
exclude *.mkd
exclude *.py
prune examples
prune alt-headers
